@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/00-defaults/02-breakpoints' as *;
@use '../../00-base/01-colors/colors' as *;

@mixin grid-item {
  flex: 1 1 100%;
  margin-bottom: $space-double;

  @include breakpoint('large') {
    margin: 0 $space-double 0 0;
    flex-basis: 30%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.grid__item {
  @include grid-item;

  /* This is just for the component library example */
  &--example {
    background-color: clr(primary, bright);
    color: clr(text, inverse);
    padding: $space-quadruple;
  }
}
