@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/00-defaults/02-breakpoints' as *;

// @mixin grid {
//   display: flex;
//   flex-wrap: wrap;
// }

// .grid {
//   @include grid;

//   &--card {
//     @include space-stack-page;
//   }
// }
@mixin grid {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  margin: 2rem;

  &[initial-col='2-col'] {
    grid-template-columns: repeat(2, 1fr);
  }

  &[initial-col='3-col'] {
    grid-template-columns: repeat(3, 1fr);
  }

  &[initial-col='4-col'] {
    grid-template-columns: repeat(4, 1fr);
  }

  &[initial-col='5-col'] {
    grid-template-columns: repeat(5, 1fr);
  }

  &[initial-col='6-col'] {
    grid-template-columns: repeat(6, 1fr);
  }

  @include breakpoint('small') {
    grid-template-columns: 1fr !important;
  }
  @include breakpoint('medium') {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  @include breakpoint('large') {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

.grid {
  @include grid;

  &--border-black {
    border: 2px solid black;
  }
}
