{# classes -> grid_base_class #}
{# modifier classes->  grid_modifiers   page_layout_modifier grid_type #}
{# title of grid -> grid_label #}
{# body of grid-> grid_content #}
{% set grid_base_class = grid_base_class|default('grid') %}
{% set initial_col = colums|default(4) %}

	{% if not grid_modifiers %}
{% set grid_modifiers = [] %}
{% endif %}

	{% if page_layout_modifier %}
{% set grid_modifiers = grid_modifiers|merge([page_layout_modifier]) %}
{% endif %}

	{% if grid_type %}
{% set grid_modifiers = grid_modifiers|merge([grid_type]) %}
{% endif %}

	{% if grid_label %}
{% include "@atoms/text/headings/_heading.twig" with {
    "heading_level": 2,
    "heading": grid_label,
  } %}
{% endif %}
	<div {{ bem(grid_base_class, grid_modifiers, grid_blockname) }} initial-col={{initial_col}}> {% block grid_content %}
		{% for item in items %}
			{% include "@organisms/grid/_grid-examples.twig" %}
		{% endfor %}
	{% endblock %}
</div>
