@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/00-defaults/03-mixins' as *;
@use '../../00-base/01-colors/colors' as *;
@use '../../01-atoms/buttons/buttons' as *;
@use '../../01-atoms/links/link/link' as *;
@use '../../01-atoms/text/headings/headings' as *;

// // .card__heading {
// //   @include heading-large($font-size: 1.3rem);
// //   @include no-bottom;

// //   &-link {
// //     @include link;
// //   }
// // }

// // .card__subheading {
// //   @include heading-medium($font-size: 1rem);
// //   @include no-bottom;

// //   color: clr(text);
// // }

// // .card__body {
// //   margin: 0.7rem 0 $space;
// // }

// // .card__link {
// //   @include link;
// // }

// // .card__button {
// //   @include button-base;
// //   @include button-color-primary;
// //   @include button-medium;
// // }

// /* Variations */
// // .card--bg {
// //   background-color: clr(highlight, bright);
// //   padding: $space;
// // }

// // .card-border-black {
// //   border: 1px solid black;
// // }

.card {
  background-color: clr(primary, base);
  color: clr(text, inverse);
  border-radius: 3px;

  .card__content {
    padding: 2rem;

    > * {
      margin-bottom: 1.5rem;
    }
  }

  .card__icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    filter: grayscale(1) invert(1);

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      // filter: grayscale(1) invert(1);
    }
  }

  .card__heading {
    @include heading-large(
      $font-size: 2.5rem,
      $font-weight: 400,
      $color: clr(text, inverse),
      $color-link: clr(text, inverse)
    );
    @include no-bottom;

    &-link {
      color: clr(text, inverse);
      text-decoration: none;

      &:hover {
        color: clr(primary, light);
      }
    }
  }

  .card__subheading {
    @include heading-large(
      $font-size: 2.5rem,
      $font-weight: 400,
      $color: clr(text, inverse),
      $color-link: clr(text, inverse),
      $margin: 0.5rem 0
    );
  }

  .card__link {
    color: clr(text, inverse);
    text-decoration: none;

    &:hover {
      color: clr(primary, light);
    }

    &::after {
      display: inline-block;
      content: '\279D';
    }
  }

  .card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  &--black {
    background-color: clr(full-black);
    color: clr(text, inverse);
  }
}
