{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables Drupal:
 * - menu_name: The machine name of the menu.
 * - menu_level
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{#
	# Available variables:
		# ---------------- (ul)
		# - menu_class -> default (menu)
		# - menu_modifiers -> default (level-0)
		# - menu_blockname
	# ---------------- (item)
		# - item_base_class
		# - item_modifiers
		# - item_blockname
 #}
  {# We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html #}

{{ attach_library('poc/main-menu') }}
{% macro menu_links(items, attributes, menu_level, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname, directory) %}
	{% import _self as menus %}
	{% if items %}
		{% set menu_class = menu_class|default('menu') %}
		{% if not menu_modifiers %}
			{% set menu_modifiers = [] %}
		{% endif %}
		{% if menu_level > 0 %}
			{% set menu_modifiers = menu_modifiers|merge(['level-' ~ menu_level]) %}
		{% endif %}
		    {% include "@molecules/menus/actions-menu/_menu-list.twig" %}
	{% endif %}
{% endmacro %}
{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0, menu_class, menu_modifiers, menu_blockname, item_base_class, item_modifiers, item_blockname, directory) }}