{#
	# Available variables:
		# ---------------- (ul)
			# - list__base_class -> default -> menu_class (menu)
			# - list__modifiers  -> default menu_modifiers (level-0)
			# - list__blockname  -> default menu_blockname
			# - list__attributes
 #}

{% set list__base_class = menu_class|default('list') %}
{% set list__modifiers = menu_modifiers %}
{% set list__blockname = menu_blockname %}
{% set list__attributes = { 'data-menu' : null, 'data-menu-level' : menu_level } %}

{% set list__attributes = list__attributes|default([]) %}
{% set list__attributes = list__attributes|merge({
  'class': bem(list__base_class, list__modifiers, list__blockname, list__addition_classes),
}) %}

<ul {{ add_attributes(list__attributes)}}>
	{% for item in items %}
		{% set urlx = path(item.url.routeName, item.url.routeParameters) %}
		{% embed "@atoms/links/link/link.twig" with{
			link_url: urlx|default('/'),
		} %}
			{% block link_content %}
				{% embed "@atoms/buttons/button.twig" with {
					button__content: item.title,
					button__modifiers: loop.last ? ['action'] : [''],
				}%}{% endembed %}

			{% endblock %}
		{% endembed %}

	{% endfor %}
</ul>
