{% set header__base_class = header__base_class|default('header') %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set header__logo_src = directory ? '/' ~ directory ~ '/assets/images/logo.png' : 'https://picsum.photos/1200/200' %}

<header hassan {{ bem(header__base_class) }} {{js_attributes}}>
	<div class="burger_menu" id="burger_menu" data-burger-menu>
		<span></span>
		<span></span>
		<span></span>
	</div>
	{% block header__branding %}
		{% include "@molecules/logo/logo.twig"%}
	{% endblock %}
	{% block header__menu %}
		{% include "@molecules/menus/_menu.twig" %}
	{% endblock %}
	{# {% block actions__menu %}
										{% include "@molecules/menus/actions-menu/_menu.twig"%}
									{% endblock %} #}
	{% block search %}
		<div class="search search-block-form" data-search>
			<h1 class="search__title" data-search-title>
				<span>recherche:</span>
				<span class="searching"></span>
			</h1>
			<div class="search__close" data-search-close="">
				<span>fermer</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="19.776" height="19.776" viewbox="0 0 19.776 19.776">
					<path id="Icon_material-round-close" data-name="Icon material-round-close" d="M27.45,8.565a1.494,1.494,0,0,0-2.115,0L18,15.885,10.665,8.55A1.5,1.5,0,1,0,8.55,10.665L15.885,18,8.55,25.335a1.5,1.5,0,0,0,2.115,2.115L18,20.115l7.335,7.335a1.5,1.5,0,1,0,2.115-2.115L20.115,18l7.335-7.335a1.5,1.5,0,0,0,0-2.1Z" transform="translate(-8.112 -8.112)"></path>
				</svg>
			</div>

			<form action="/fr/search/node" method="get" id="search-block-form" accept-charset="UTF-8">

				<div class="js-form-item form-item form-type-search js-form-type-search form-item-keys js-form-item-keys form-no-label">
					<label for="edit-keys" class="visually-hidden">Rechercher</label>
					<input title="Saisir les termes à rechercher." placeholder="que recherchez-vous ?" data-drupal-selector="edit-keys" type="search" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search">
				</div>
				<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
					<input data-drupal-selector="edit-submit" type="submit" id="edit-submit" value="Rechercher" class="button js-form-submit form-submit">
				</div>
			</form>
		</div>
	{% endblock %}
	{% block content %}
		{{content}}
	{% endblock %}
	<svg class="search_icon" data-search-icon xmlns=" http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30px" height="30px">
		<path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
	</svg>
</header>
