{% embed "@molecules/poc-card/card.twig" with {
    card__heading: label,
    card__subheading: content.field_price[0]['#markup'],
    card__link__text: content.field_link['#items'][0].value['title'],
    card__link__url: content.field_link['#items'][0].value['uri'],
  } %}
	{% block card__icon %}
		<figure class="card__icon">
			{{content.field_icon}}
		</figure>
	{% endblock %}
	{% block card__img %}
		<figure class="card__image">
			{{content.field_subscription_image}}
		</figure>
	{% endblock %}

{% endembed %}
