{#
 # Available variables:
 # - logo__url
 # - output_image_tag: Whether or not to output an <img> tag instead of a <picture> tag.
 # - image_src: path to image file
 # - image_alt: alt text on image
#}

{% set logo__base_class = logo__base_class|default('logo') %}

{% set logo__attributes = {
  class: bem(logo__base_class, logo__modifiers, logo__blockname),
} %}
<div {{ add_attributes(logo__attributes) }}>
	{% embed "@atoms/links/link/link.twig" with {
    link_base_class: 'logo__link',
    link_url: logo__url|default('/'),
  } %}
		{% block link_content %}
			{% if directory %}
				{{content.site_logo}}
			{% else %}
				{% include "@atoms/images/image/responsive-image.twig" with {
        output_image_tag: true,
        image_src: directory ? '/' ~ directory ~ '/assets/images/logo.png' : 'https://spa-company.com/wp-content/uploads/2020/03/dummy-logo-08.png',
        image_alt: 'Logo',
        responsive_image_blockname: 'logo',
      } %}
			{% endif %}
		{% endblock %}
	{% endembed %}
</div>
