@use 'colors' as *;
@use 'color-definitions' as *;

// Create CSS custom properties based on the color-palette map.
// For each color variable (e.g. `text` and `background`) a css custom
// property will be created. (e.g. `--c-text:` and `--c-background:`).
:root {
  display: block;

  // Create custom properties from the default theme.
  @each $theme, $palette in $color-palette {
    @if $theme == 'default' {
      @each $name, $color in $palette {
        @if type-of($color) == map {
          @each $clrname, $value in $color {
            @if $clrname == 'base' {
              --c-#{$name}: #{cnvrt-clr($value, $format)};
            } @else {
              --c-#{$name}-#{$clrname}: #{cnvrt-clr($value, $format)};
            }
          }
        } @else {
          --c-#{$name}: #{cnvrt-clr($color, $format)};
        }
      }
    }
  }

  // Redefine the color custom properties when markup
  // has a data-theme attribute set. This can be set
  // on the body tag to affect the entire page or set
  // on any tag within the page to affect it's children.
  @each $theme, $palette in $color-palette {
    [data-theme='#{$theme}'] {
      @each $name, $color in $palette {
        @if type-of($color) == map {
          @each $clrname, $value in $color {
            @if $clrname == 'base' {
              --c-#{$name}: #{cnvrt-clr($value, $format)};
            } @else {
              --c-#{$name}-#{$clrname}: #{cnvrt-clr($value, $format)};
            }
          }
        } @else {
          --c-#{$name}: #{cnvrt-clr($color, $format)};
        }
      }
    }

    [data-component-theme*='#{$theme}'] {
      @each $name, $color in $palette {
        @if type-of($color) == map {
          @each $clrname, $value in $color {
            @if $clrname == 'base' {
              --c-#{$name}: #{cnvrt-clr($value, $format)};
            } @else {
              --c-#{$name}-#{$clrname}: #{cnvrt-clr($value, $format)};
            }
          }
        } @else {
          --c-#{$name}: #{cnvrt-clr($color, $format)};
        }
      }
    }
  }
}
