{#
	# Available variables:
		# ---------------- (ul)
		# - item_modifiers -> item_modifiers
		# - list__item__base_class -> default item_base_class
		# - list__item__modifiers -> default item_modifiers
		# - list__item__blockname -> default item_blockname
		# - item_modifiers -> item_modifiers
	# ---------------- (item)
		# - original_item_modifiers
 #}
{# menu__item menu__item--level-0 menu__item--last item--search-for--faculty-sites #}
{# data-menu_item data-has-children="false" #}
{% if not item_modifiers %}
  {% set item_modifiers = [] %}
{% endif %}
{# Pass original item modifiers down to children #}
{% set original_item_modifiers = item_modifiers %}
{% if item.in_active_trail == TRUE %}
  {% set item_modifiers = item_modifiers|merge(['active']) %}
{% endif %}
{% if loop.last %}
  {% set item_modifiers = item_modifiers|merge(['last']) %}
{% endif %}
{% if menu_level is not empty %}
  {% set item_modifiers = item_modifiers|merge(['level-' ~ menu_level]) %}
{% endif %}
{% if item.below %}
  {% set item_modifiers = item_modifiers|merge(['has-children']) %}
{% endif %}
{# below could maybe be done without a loop? #}
{% for modifier in item.modifiers %}
  {% set item_modifiers = item_modifiers|merge([modifier]) %}
{% endfor %}

{% set list_item_label = item_label %}
{% set list__item__base_class = item_base_class|default(menu_class ~ '__item') %}
{% set list__item__modifiers = item_modifiers %}
{% set list__item__blockname = item_blockname %}

{% import "@molecules/menus/_menu.twig" as menus %}

{% extends "@atoms/lists/_list-item.twig" %}
  {% block list__item__content %}
    {# if drupal #}
    {% if directory %}
      {{ link(item.title, item.url, bem(item_base_class|default(menu_class ~ '__link'), item_modifiers)) }}
    {% else %}
      {% include "@atoms/links/link/link.twig" with {
        link_content: item.title,
        link_url: item.url,
        link_base_class: item_base_class|default(menu_class ~ '__link'),
        link_modifiers: item_modifiers,
      } %}
    {% endif %}
    {% if item.below %}
      <span class="expand-sub"></span>
      {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_class, menu_modifiers, menu_blockname, item_base_class, original_item_modifiers, item_blockname, directory) }}
    {% endif %}
  {% endblock %}
{# ----------------------------- #}
				{# {% set item_classes = ['menu__item', 'menu__item--level-' ~ menu_level, item.below ? 'has_children', loop.last ? 'menu__item--last', item.is_expanded ? 'menu__item--expanded', item.is_collapsed ? 'menu__item--collapsed', item.in_active_trail ? 'menu__item--active-trail', 'item--' ~ (item.title|clean_class)] %}
				{% set expanded_attibute = item.is_expanded ? item.attributes.setAttribute('aria-label', 'expanded') : '' %}

				<li {{ item.attributes.addClass(item_classes).setAttribute('data-has-children', item.below ? 'true' : 'false').setAttribute('data-menu_item', '') }} {{ expanded_attibute }}>
					{{ link(item.title, item.url) }}
					{% if item.below %}
						{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
					{% endif %}
				</li> #}
