{#
	# Available variables:
		# ---------------- (ul)
			# - list__base_class -> default -> menu_class (menu)
			# - list__modifiers  -> default menu_modifiers (level-0)
			# - list__blockname  -> default menu_blockname
			# - list__attributes
 #}
{# {% import "@molecules/menus/_menu.twig" as menus %} #}

{% set list__base_class = menu_class|default('list') %}
{% set list__modifiers = menu_modifiers %}
{% set list__blockname = menu_blockname %}

{% set list__attributes = list__attributes|default([]) %}
{% set list__attributes = list__attributes|merge({
  'class': bem(list__base_class, list__modifiers, list__blockname, list__addition_classes),
}) %}

<ul {{ add_attributes(list__attributes)}} data-menu data-menu-level={{menu_level}}>
	{% if menu_level != 0 %}
		<div class="menu__header">
			<h1 class="menu__title" data-menu-title></h1>
			<div class="menu__close" data-menu-close>
				<span>{{'close'|t}}</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="19.776" height="19.776" viewbox="0 0 19.776 19.776">
					<path id="Icon_material-round-close" data-name="Icon material-round-close" d="M27.45,8.565a1.494,1.494,0,0,0-2.115,0L18,15.885,10.665,8.55A1.5,1.5,0,1,0,8.55,10.665L15.885,18,8.55,25.335a1.5,1.5,0,0,0,2.115,2.115L18,20.115l7.335,7.335a1.5,1.5,0,1,0,2.115-2.115L20.115,18l7.335-7.335a1.5,1.5,0,0,0,0-2.1Z" transform="translate(-8.112 -8.112)"/>
				</svg>
			</div>
		</div>
	{% endif %}
	{% for item in items %}
	{% import "@molecules/menus/_menu.twig" as menus %}
		{# {% include "@molecules/menus/_menu-item.twig" %} #}
		{% set below = item.below ? 'has_children' : '' %}
		{% set item_classes = ['menu__item', 'menu__item--level-' ~ menu_level,below] %}
		{% set itemss_classes = item_classes|join(' ') %}
		{% set expanded_attibute = item.is_expanded ? item.attributes.setAttribute('aria-label', 'expanded') : '' %}
		{% set children_att = item.below ? 'true' : 'false' %}

		{# {{ item.attributes.addClass(item_classes).setAttribute('data-has-children', item.below ? 'true' : 'false').setAttribute('data-menu_item', '') }} #}
		<li class="{{itemss_classes}}" {{ expanded_attibute}} data-has-children={{children_att}} data-menu-item > 
			{% if directory %}
				{{ link(item.title, item.url) }}
			{% else %}
				{% include "@atoms/links/link/link.twig" with {
						link_content: item.title,
						link_url: item.url,
					} %}
			{% endif %}
			{% if item.below %}
				{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
			{% endif %}
		</li>

	{% endfor %}
</ul>
