{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_style_poc_module_poc_grid_plugin()
 */
#}

{% embed "@organisms/grid/grid.twig" with {
    grid_modifiers,
    colums,
    grid_label,
  } %}
	{% block grid_content %}
		{{rows}}
	{% endblock %}
{% endembed %}
