{#
/**
 * Available variables:
 * - icon__base_class - base class name
 * - icon_modifiers - modifiers for icons (array)
 * - icon__blockname - blockname prepended to the base classname
 * - icon__name - the name of the icon
 * - icon_role - a11y role
 * - icon_title - a11y title
 * - icon_desc - a11y description
 */
#}
{% set icon__base_class = icon__base_class|default('icon') %}
{# If `directory` is defined, set the path relative for Drupal.
 # Otherwise, set the path relative to the Component Library. #}
{% set icon_url = directory ? '/' ~ directory ~ '/dist/' %}

{# IE 11 support for SVG use - remove if not needed.
## See also emulsify.libraries.yml to remove library.
#}
{{ attach_library('emulsify/sprite') }}
{% set unique_name = icon__name ~ '-' ~ random() %}

<svg {{ bem(icon__base_class, icon_modifiers, icon__blockname, icon_extra_class) }} {% if icon_decorative %} aria-hidden="true" role="img" {% elseif icon_role %} role="{{ icon_role }}" {% endif %} {% if icon_title %} aria-labelledby="title-{{ unique_name }}" {% endif %} {% if icon_desc %} aria-describedby="desc-{{ unique_name }}" {% endif %}>
	{% if icon_title %}
		<title id="title-{{ unique_name }}">{{ icon_title }}</title>
	{% endif %}
	{% if icon_desc %}
		<desc id="desc-{{ unique_name }}">{{ icon_desc }}</desc>
	{% endif %}
	<use xlink:href="{{ icon_url }}icons.svg#{{ icon__name }}"></use>
</svg>
