@use '../../../00-base/00-defaults/01-variables' as *;
@use '../../../00-base/01-colors/colors' as *;

/* Create a mixin for paragraph styles that can be implemented
 * in components with other classnames.
*/

@mixin paragraph($margin: 0 0 1em) {
  margin: $margin;
}

.paragraph {
  @include paragraph;
}

.blockquote {
  font-style: italic;
  border-left: solid 3px clr(accent);
  margin-left: $space;
  padding-left: $space;
}

.hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: currentColor;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  p {
    @extend .paragraph;
  }

  blockquote {
    @extend .blockquote;
  }

  hr {
    @extend .hr;
  }
}

pre {
  margin: 0;
  background-color: var(--c-background-section);
}
