@use 'sass:map';
@use '../../00-base/00-defaults/01-variables' as *;
@use '../../00-base/01-colors/colors' as *;

// The button-base mixin contains styles that apply to all buttons
// regardless of color or size.
@mixin button-base {
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: clr(text, inverse);
  background-color: clr(primary, base);
  box-sizing: border-box;
  border: 3px solid clr(primary, base);
  height: 4rem;
  min-width: 4rem;

  &:hover {
    background-color: clr(secondary, base);
    border: 3px solid clr(secondary, base);
  }

  &:focus-visible,
  &:focus {
    border: clr(text, inverse);
  }
}

// Button size variations
@mixin button-medium {
  line-height: 1.4;
  padding: $space-one-half $space;
}

@mixin button-large {
  line-height: 2;
  padding: $space $space-double;
}
@mixin button-secondary {
  background-color: clr(secondary, base);

  &:hover {
    background-color: clr(secondary, bright);
  }

  &:focus-visible,
  &:focus {
    border: clr(text, inverse);
  }
}
@mixin button-action {
  background-color: clr(full-white);
  color: clr(text, base);
  border: 3px solid clr(primary, base);
  border-radius: 6px;
  padding: 5px;

  &:hover {
    background-color: clr(primary, light);
    border: 3px solid clr(primary, base);
  }
}

.button {
  @include button-base;
  @include button-medium;
  &--secondary {
    @include button-large;
    @include button-secondary;
  }

  &--action {
    @include button-action;
  }
}
