nav[role='navigation'] {
  overflow: hidden;
  transition: var(--menu-transition);
  .menu {
    a {
      text-decoration: none !important;
      color: clr(full-black);
    }
    &.menu--level-1 {
      a {
        color: clr(neutral, base);
        &:hover {
          color: clr(full-black);
        }
        &.is-active {
          font-weight: bold;
        }
      }
    }
  }
  .menu__item--level-0.has_children {
    > a {
      display: flex;
      gap: 1rem;
      &::after {
        content: url("data:image/svg+xml,%3Csvg class='arrow' xmlns='http://www.w3.org/2000/svg' width='16.762' height='9.877' viewBox='0 0 16.762 9.877'%3E%3Cpath id='Icon_material-round-keyboard-arrow-down' data-name='Icon material-round-keyboard-arrow-down' d='M12.18,13.935,18,19.755l5.82-5.82a1.5,1.5,0,0,1,2.115,2.115L19.05,22.935a1.494,1.494,0,0,1-2.115,0L10.05,16.05a1.494,1.494,0,0,1,0-2.115,1.526,1.526,0,0,1,2.13,0Z' transform='translate(-9.611 -13.497)'/%3E%3C/svg%3E%0A");
        transition: var(--menu-transition);
      }
    }
    &.expanded > a::after {
      rotate: 180deg;
    }
  }
  &:not(.mobileView) {
    // ul styling
    .menu {
      &.menu--level-0,
      &[data-menu-level='0'] {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        // height: 70%;
      }
      &.menu--level-1 {
        display: none;
        grid-template-rows: repeat(4, max-content);
        grid-auto-flow: column;
        position: absolute;
        inset: calc(100% + 10px) 0 auto 0;
        max-width: 90vw;
        row-gap: 1.5rem;
        z-index: 600;
        margin: 0 auto;
        padding: 10rem 3rem 3rem 3rem;
        background-color: clr(full-white);
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
        border-radius: 12px;
        min-height: 30rem;
        transition: var(--menu-transition);
        &.open {
          display: grid;
        }
        .menu__header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          inset: 0 0 auto 0;
          padding: 3rem;
          .menu__title {
            margin: 0;
          }
          .menu__close {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: clr(primary, base);
            text-transform: capitalize;
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
    // li styling
    .menu__item {
      white-space: nowrap;
      &.menu__item--level-0 {
        border-bottom: 2px solid transparent;
        cursor: pointer;
        // padding: 0 1rem;
        &:hover,
        &.expanded {
          border-color: clr(primary, base);
        }
      }
    }
  }
  &.mobileView {
    position: fixed;
    inset: calc(var(--menu-height) + var(--drupal-displace-offset-top, 0px)) 0 0
      0;
    transform: translateX(-100%);
    z-index: 498;
    background-color: clr(full-white);
    color: clr(full-black);
    .menu__header,
    .arrow {
      display: none;
    }
    a {
      color: clr(full-black);
    }
    &.expanded {
      transform: translateX(0%);
    }

    .menu.menu--level-0,
    [data-menu-level='0'] {
      padding: 0 2rem;
      --sum-height: calc(
        var(--menu-height) + var(--drupal-displace-offset-top, 0px) +
          var(--action-menu-height) + 2rem
      );
      height: calc(100vh - var(--sum-height));
      overflow-y: auto;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        background-color: clr(neutral, base);
        border-radius: 5px;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: clr(primary, base);
        border-radius: 5px;
      }
    }
    .menu.menu--level-1 {
      transition: max-height 0.5s ease;
      max-height: 0px;
      overflow: hidden;
      &.open {
        max-height: var(--sub-menu_height);
        transition: max-height 0.5s ease;
      }
    }
    .menu__item {
      display: grid;
      grid-template-rows: 1fr;
      a {
        min-height: 6.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .menu__item--level-0 {
      border-bottom: 1px solid clr(neutral, base);
    }
  }
}
