@use '../../../00-base/00-defaults/01-variables' as *;
@use '../../../00-base/00-defaults/02-breakpoints' as *;
@use '../../../00-base/00-defaults/03-mixins' as *;
@use '../../../00-base/01-colors/colors' as *;

header.navigation {
  .contextual-region {
    position: static;
  }
  --search-transition: transform 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  --menu-transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  position: sticky;
  --calculatedHeight: var(--drupal-displace-offset-top, 0px);
  --position: var(--calculatedHeight) auto auto auto;
  inset: var(--position, 0 auto auto auto);
  height: 10rem;
  z-index: 500;
  transition: all 0.3s ease;
  background-color: clr(full-white);
  color: clr(full-black);
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05);
  // max-width: 1400px;
  // margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > * {
    flex: 0 1 auto;
    margin: 0 1rem;
  }
  nav[role='navigation'] {
    flex: 1 1 auto;
  }
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
  // ------------ any link -----------
  a {
    color: clr(full-black);
    text-decoration: none;
  }
  // ------------- any ul -------------
  ul {
    list-style: none;
  }
  // --------- any menu item link -----------
  .menu__item {
    > a {
      color: clr(full-black);
    }
  }
  // -------------- close menu -------------
  .close_menu {
    cursor: pointer;
    display: none;
    height: var(--menu-height);
  }
  //-----------------overlay-----------
  &::after {
    content: '';
    // pointer-events: none;
    background-color: clr(full-black);
    position: fixed;
    inset: calc(var(--menu-height, 0) + var(--drupal-displace-offset-top, 0px))
      0 0 0;
    scale: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
  }
  &.search-expanded {
    &:not(.mobileView)::after {
      opacity: 0.5;
      scale: 1;
    }
    &.mobileView {
      > *:not(.search_icon):not(.search) {
        opacity: 0 !important;
        transition: var(--search-transition);
      }
    }
  }
  // ---------- styles applied if (not at top page) or (not front page)
  // burger menu block
  .burger_menu,
  .close_menu {
    cursor: pointer;
    display: none;
  }

  // styles related to mobile breakpoint
  &.mobileView {
    > * {
      margin: 0;
    }
    .actions {
      flex-direction: column;
      align-items: stretch;
      padding: 0 2rem;
      padding-bottom: 2rem;
      position: fixed;
      inset: auto 0 0 0;
      transform: translateX(-100%);
      z-index: 499;
      background-color: clr(full-white);
      color: clr(full-black);
      transition: var(--menu-transition);
      button {
        width: 100%;
      }
      a {
        color: clr(full-black);
      }
    }
    &.expanded {
      .actions {
        transform: translateX(0%);
      }
    }

    --calculatedHeight: calc(
      var(--drupal-displace-offset-top, 0px) + var(--mobileRegion-height)
    );
    > .region {
      padding: 0 2rem;
    }
    [id*='-facburgermenu'] {
      display: block;
    }
    [id*='-languageswitcher'],
    [id*='-loginlogout'] {
      display: none;
    }
    .close_menu {
      display: flex;
      align-items: center;
    }
    &.scrollDown {
      .burger_menu {
        --stroke: var(--black);
      }
    }

    @import './burgermenu';

  }
  @import './navigation--menu';
  @import './navigation--siteBranding';
  @import './navigation--search';
}
