.search_icon {
  cursor: pointer;
  position: relative;
  right: 0;
  transition: var(--search-transition);
}
.search {
  background-color: clr(full-white);
  #search-block-form {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    .form-type-search {
      flex: 1 1 auto;
      max-width: unset;
      margin: 0;
    }
  }
  input[type='search'] {
    padding: 0 1rem;
    width: 100%;
    height: 100%;
  }
}
&:not(.mobileView) {
  .search {
    transition: all 0.15s ease;
    position: fixed;
    z-index: 600;
    inset: calc(
        var(--menu-height) + var(--drupal-displace-offset-top, 0px) + 10px
      )
      0 2rem 0;
    max-width: 90vw;
    margin: 0 auto;
    border-radius: 12px;
    background-color: clr(full-white);
    opacity: 0;
    scale: 0;
    padding: 10rem 3rem 3rem 3rem;
    &__close {
      position: absolute;
      inset: 0 0 auto auto;
      padding: 3rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: clr(primary, base);
      text-transform: capitalize;
      font-weight: bold;
      cursor: pointer;
    }

    &.search-expanded {
      opacity: 1;
      scale: 1;
    }
  }
}
&.mobileView {
  .search_icon.search-expanded {
    right: 95%;
  }
  .search {
    position: fixed;
    inset: var(--drupal-displace-offset-top, 0px) 0 auto 0;
    transform: translateX(100%);
    height: var(--menu-height);
    padding: 0 2rem 0 6rem;
    display: grid;
    align-items: center;
    transition: var(--search-transition);

    &__title,
    &__close {
      display: none;
    }
    input[type='search'] {
      border: 0;
      background: transparent;
      border-left: 1px solid clr(neutral, base);
      &:focus,
      &:focus-visible {
        outline: 0;
      }
    }
    input[type='submit'] {
      background: transparent;
      color: clr(full-black);
      border: 0;
      padding: 0;
    }
    &.search-expanded {
      transform: translateX(0%);
    }
  }
}
