.logo {
  flex: 0 0 16rem;
  transition: all 0.3s ease;
  display: flex;
  max-height: 70%;

  &__link {
    display: block;
    max-height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
&.mobileView {
  .logo {
    margin: 0 auto;
    // flex: 0 0 8rem;
  }
}
