{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_style_grid_component()
 */
#}

{# <div{{attributes}}>
	{% set row_classes = [default_row_class ? 'views-row'] %}
	{% for row in rows %}
		<div{{row.attributes.addClass(row_classes)}}>
			{{ row.content }}
		</div>
	{% endfor %}
</div> #}
{% embed "@organisms/grid/grid.twig" with {
    grid_label: label,
    grid_type: 'xxxxxxx',
  } %}

	{% block grid_content %}
		{{rows}}
	{% endblock %}

{% endembed %}

{# grid_label: 'Card Grid'
grid_type: 'card'
item_type: 'card'
items: #}
