@use '../00-defaults/03-mixins' as *;
@use '../01-colors/colors' as *;
@use '../00-defaults/01-variables' as *;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  color: clr(text, inverse);
}

body {
  background-color: clr(background);
  color: clr(text);
  font-family: $font-body;
  font-size: $base-size;
  line-height: 1.6;

  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.main {
  @include wrapper;

  display: block; /* Fix for IE weirdness */
}
.layout-content {
  padding: 3rem;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}
