{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{% embed "@organisms/site/site-header/site-header.twig" with {
    header__base_class: 'navigation',
    region__attributes: {'lang': (language), 'role' : 'nav'},
    js_attributes : 'header-container',
		} %}
	{% block header__branding %}{% endblock %}

	{% block header__menu %}{% endblock %}
	{% block search %}{% endblock %}
	{% block actions__menu %}{% endblock %}

{% endembed %}
