/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */

/////////////////////
// Global Breakpoints

// Avoid using in favor of atomic, content-specific, breakpoints.
// These should be used for generic code, like layouts and typography, only.

$small: 0;
$medium: 720px;
$large: 960px;
$xl: 19916px;

// The max-width breakpoint is used when the design should be applied at whatever the
// largest breakpoint is regardless of actual pixel value. e.g. removing outer margin on body wrapper
$max-width: $xl;

// Breakpoint function
$breakpoints: (
  'small': (
    min-width: #{$small},
  ),
  'medium': (
    min-width: #{$medium},
  ),
  'large': (
    min-width: #{$large},
  ),
  'xlarge': (
    min-width: #{$xl},
  ),
);

/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints map
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    /* stylelint-disable-next-line at-rule-no-unknown */

    // @error "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
