{% set region__base_class = region__base_class|default('region') %}

{% set region__attributes = region__attributes|default([]) %}
{% set region__attributes = region__attributes|merge({
  'class': bem(region__base_class, region__modifiers, region__blockname),
}) %}

{% if content %}
	<div{{add_attributes(region__attributes)}} {{js_attributes}}>
		{{ content }}
	</div>
{% endif %}
