{#
 # Available variables:
 # - logo__url
 # - output_image_tag: Whether or not to output an <img> tag instead of a <picture> tag.
 # - image_src: path to image file
 # - image_alt: alt text on image
#}

{% set search__base_class = search__base_class|default('search') %}

{% set search__attributes = {
  class: bem(search__base_class, search__modifiers, search__blockname),
} %}
<div {{ add_attributes(search__attributes) }} data-search>
	<h1 class="search__title" data-search-title>
		<span>{{'recherche'|t}}:</span>
		<span class="searching"></span>
	</h1>
	<div class="search__close" data-search-close>
		<span>{{'fermer'|t}}</span>
		<svg xmlns="http://www.w3.org/2000/svg" width="19.776" height="19.776" viewbox="0 0 19.776 19.776">
			<path id="Icon_material-round-close" data-name="Icon material-round-close" d="M27.45,8.565a1.494,1.494,0,0,0-2.115,0L18,15.885,10.665,8.55A1.5,1.5,0,1,0,8.55,10.665L15.885,18,8.55,25.335a1.5,1.5,0,0,0,2.115,2.115L18,20.115l7.335,7.335a1.5,1.5,0,1,0,2.115-2.115L20.115,18l7.335-7.335a1.5,1.5,0,0,0,0-2.1Z" transform="translate(-8.112 -8.112)"/>
		</svg>
	</div>

	{% block content %}{% endblock %}

</div>
